<ion-view view-title="档案大事记">
    <ion-content>

        <div ng-show="true" class="item item-button-right">
            <span>&nbsp</span>
            <a ui-sref="lawFile.fileMemorabiliaAdd" class="button btn-small">添加大事记</a>
        </div>

        <ul class="list caseList">
            <li class="item item-icon-right" ng-click="getDetails()" ng-repeat="item in cases">
                <h2>{{item.title}}</h2>
                <div class="content">
                    {{item.content}}
                </div>
                <i class="icon ion-chevron-right"></i>
            </li>
        </ul>
    </ion-content>
</ion-view>
