<div class="modal">
    <ion-header-bar align-title="left" class="bar-positive title-color">
        <h1 class="title">{{detail.info.typeStr}}</h1>
        <button class="button button-energized button-outline" ng-click="popover.hide()">关闭</button>
    </ion-header-bar>
    <ion-content class="has-header">
        <div class="list">
            <div class="item">
                <h2>合同名称：{{detail.info.name}}</h2>
            </div>
            <div class="item item-text-wrap">
                <h2>全文预览下载：</h2>
                <div ng-bind-html="detail.info.content"></div>
            </div>

            <div class="item item-divider">
                剩余服务次数：{{userNum.num}}次
                <span style="float: right">到期时间：{{userNum.endTime | javaDate : 'yyyy-MM-dd'}}</span>
            </div>
            <div class="item">

                <div class="row">
                    <div class="col">
                        <button class="button button-block button-balanced button-small"
                                ng-click="detail.downLoad(detail.info.id)">
                            确认提交
                        </button>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-25 col-offset-25"></div>
                    <div class="col">
                        <button class="button button-block button-energized button-small"
                                ui-sref="memberCenter.buyProductService">
                            购买服务
                        </button>
                    </div>
                </div>

            </div>
            <div class="padding">
                <p>温馨提示：当您的服务数量已使用完毕，请点击去购买或到产品服务中购买服务</p>
            </div>

        </div>

    </ion-content>
</div>