<div class="modal">
    <ion-header-bar align-title="left" class="bar-positive title-color">
        <h1 class="title">订单详情</h1>
        <div class="buttons">
            <button class="button button-energized button-outline" ng-click="lawyerletterDetials.hide()">关闭</button>
        </div>
    </ion-header-bar>
    <ion-content>
        <div class="card">
            <div class="item item-divider">
                订单信息
            </div>
            <div class="item ">
                订单类型：{{detail.data.order.service.name}}
            </div>
            <div class="item ">
                订单编号：{{detail.data.order.orderNo}}
            </div>
            <div class="item ">
                <p style="line-height: 30px">
                    {{detail.data.order.time | javaDate:'yyyy-MM-dd HH:mm:ss'}}
                    <span style="float: right;">
                    <button class="button button-small button-outline button-positive">
                        {{detail.data.order.statusStr}}
                    </button>
                </span>
                </p>
            </div>
        </div>

        <div class="list">

            <a class="item item-avatar" href="#">
                <img ng-src="{{detail.data.lawyer.photoUrl}}">
                <h2>{{detail.data.lawyer.realName}}{{detail.data.lawyer.type}}</h2>
                <p>执照号：{{detail.data.lawyer.licenseNo}}</p>
            </a>

            <div class="item item-divider"
                 ng-if="detail.data.order.serviceId == 5 || detail.data.order.serviceId == 7 || detail.data.order.serviceId == 8 || detail.data.order.serviceId == 9">
                服务信息
            </div>
            <div class="item item-text-wrap"
                 ng-if="detail.data.order.serviceId == 5 || detail.data.order.serviceId == 8 || detail.data.order.serviceId == 9">
                <h3>需求概述：</h3>
                <p>{{detail.data.order.extendJson.content}}</p>
            </div>

            <div ng-if="detail.data.order.serviceId == 7">
                <div class="item item-text-wrap">
                    <p>核查类别：{{detail.data.order.extendJson.typeStr}}</p>
                    <p>核查方式：{{detail.data.order.extendJson.methodStr}}</p>
                    <div ng-if="detail.data.order.extendJson.method == 2">
                        <p>见面审查时间：{{detail.data.order.extendJson.meetTime | javaDate:'yyyy-MM-dd'}}</p>
                        <p>见面地点：{{detail.data.order.extendJson.province}} - {{detail.data.order.extendJson.city}} -
                            {{detail.data.order.extendJson.area}} - {{detail.data.order.extendJson.detailAddress}}</p>
                        <p>联系人：{{detail.data.order.extendJson.contactName}}</p>
                    </div>
                </div>
            </div>

        </div>

    </ion-content>
</div>