<div class="modal">
    <ion-header-bar align-title="left" class="bar-positive title-color">
        <h1 class="title">委托详情</h1>
        <div class="buttons">
            <button class="button button-energized button-outline" ng-click="entrustModal.hide()">关闭</button>
        </div>
    </ion-header-bar>
    <ion-content>
        <div class="banner">
            <img ng-src="{{entrust.detail.lawyer.photoUrl}}" alt="" class="user-headportrait"
                 style="height: 150px;width: 100%">
        </div>
        <h3 class="text-center" style=" margin-bottom: 20px">{{entrust.detail.lawyer.realName}}{{entrust.detail.lawyer.type}}</h3>

        <div class="list">
            <div class="item">
                <p>
                    事项标题：{{entrust.detail.info.title}}
                </p>
            </div>
            <div class="item">
                <p>
                    待办区域：{{entrust.detail.info.province}}-{{entrust.detail.info.city}}-{{entrust.detail.info.area}}
                </p>
            </div>
            <div class="item">
                <p>
                    终止时间：{{entrust.detail.info.endTime | javaDate:'yyyy-MM-dd'}}
                </p>
            </div>
            <div class="item item-text-wrap">
                <p>
                    事项概述：{{entrust.detail.info.content}}
                </p>
            </div>
            <div class="padding" ng-if="entrust.detail.info.status == 1">
                <button class="button button-positive button-block" ng-click="entrust.detail.apply()">
                    我要申请代办
                </button>
            </div>
        </div>
    </ion-content>

</div>
