<ion-view view-title="风险体检">
    <ion-content>

        <div class="list">
            <div class="item">
                <h2>法律风险体检</h2>
            </div>
            <div class="item item-text-wrap">
                <p>{{service.summary}}</p>
            </div>
            <div class="item item-text-wrap">
                <h2>服务流程</h2>
                <div class="row text-center">
                    <div class="col">
                        <i class="ion ion-edit balanced" style="font-size: 25px;color:#f5762d;"></i>
                        <p>
                    <span class="button button-balanced button-small button-clear"
                          style="color:#f5762d;">填写资料</span>
                        </p>
                    </div>
                    <div class="col-5 " style="    padding-top: 12px;">
                        <i class="ion ion-chevron-right balanced" style="font-size: 25px; line-height: 30px"></i>
                    </div>
                    <div class="col">
                        <i class="iconfont icon-lvshi balanced" style="font-size: 25px;color:#f5762d;"></i>
                        <p>
                    <span class="button button-balanced button-small button-clear"
                          style="color:#f5762d;">律师对接</span>
                        </p>
                    </div>
                    <div class="col-5" style="    padding-top: 12px;">
                        <i class="ion ion-chevron-right balanced" style="font-size: 25px"></i>
                    </div>
                    <div class="col">
                        <i class="iconfont icon-jiaofu balanced" style="font-size: 25px;color:#f5762d;"></i>
                        <p>
                    <span class="button button-balanced button-small button-clear"
                          style="color:#f5762d;">交付成果</span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="item item-text-wrap " ng-if="service.serviceTime != '' && service.serviceTime != null">
                <h2>服务时间</h2>
                <p>{{service.serviceTime}}</p>
            </div>

            <label class="item item-input item-select">
                <div class="input-label">
                    核查类别
                </div>
                <select ng-model="info.type" ng-init="info.type = '1'">
                    <option value="1">劳资管理制度风险核查</option>
                    <option value="2">财务管理制度风险核查</option>
                    <option value="3">购销合同风险核查</option>
                    <option value="4">股权架构风险核查</option>
                    <option value="4">债权债务风险核查</option>
                </select>
            </label>
            <div class="row" ng-init="checkType = false">
                <div class="col">
                    <div class="button button-block button-positive button-small" ng-click="checkType = false">发送文件核查
                    </div>
                </div>
                <div class="col">
                    <div class="button button-block button-dark button-small" ng-click="checkType = true">见面核查</div>
                </div>
            </div>
            <label class="item item-input" ng-show="checkType">
                <span class="input-label">见面核查时间</span>
                <input type="date" ng-model="info.meetTime">
            </label>
            <ionic-city-picker options='vm.CityPickData' ng-show="checkType"></ionic-city-picker>
            <label class="item item-input" ng-show="checkType">
                <span class="input-label">详细地址</span>
                <input type="text" ng-model="info.detailAddress">
            </label>
            <label class="item item-input" ng-show="checkType">
                <span class="input-label">联系人</span>
                <input type="text" ng-model="info.contactName">
            </label>

            <div class="card" ng-show="!checkType">
                <div class="item item-divider item-energized">
                    客服邮箱{{_so.serviceEmail}}
                </div>
                <div class="item item-text-wrap">
                    <p>
                        温馨提示：购买后发送邮件至官方邮箱，注明您的手机号码、律师名称及xxx项风险核查字样，便于律师为您及时办理。
                    </p>
                </div>
            </div>


            <div class="item item-divider">
                剩余服务次数：{{userNum.num}}次
                <span style="float: right">到期时间：{{userNum.endTime | javaDate : 'yyyy-MM-dd'}}</span>
            </div>

            <div class="padding">
                <div class="row">
                    <div class="col">
                        <button class="button button-block button-balanced button-small" ng-click="submit()">
                            确认提交
                        </button>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-25 col-offset-25"></div>
                    <div class="col">
                        <button class="button button-block button-energized button-small" ui-sref="memberCenter.buyProductService">
                            购买服务
                        </button>
                    </div>
                </div>
            </div>
            <div class="padding">
                <span class="item-note assertive">温馨提示：当您的服务数量已使用完毕，请点击去购买或到产品服务中购买服务</span>
            </div>

        </div>

    </ion-content>
</ion-view>

