<ion-view view-title="合同起草">
    <ion-content>

        <div class="list">
            <div class="item">
                <h2>合同文书起草</h2>
            </div>
            <div class="item item-text-wrap">
                <p>{{service.summary}}</p>
            </div>
            <div class="item item-text-wrap">
                <h2>服务流程</h2>
                <div class="row text-center">
                    <div class="col">
                        <i class="ion ion-edit balanced" style="font-size: 25px;color:#f5762d;"></i>
                        <p>
                    <span class="button button-balanced button-small button-clear"
                          style="color:#f5762d;">填写资料</span>
                        </p>
                    </div>
                    <div class="col-5 " style="    padding-top: 12px;">
                        <i class="ion ion-chevron-right balanced" style="font-size: 25px; line-height: 30px"></i>
                    </div>
                    <div class="col">
                        <i class="iconfont icon-lvshi balanced" style="font-size: 25px;color:#f5762d;"></i>
                        <p>
                    <span class="button button-balanced button-small button-clear"
                          style="color:#f5762d;">律师对接</span>
                        </p>
                    </div>
                    <div class="col-5" style="    padding-top: 12px;">
                        <i class="ion ion-chevron-right balanced" style="font-size: 25px"></i>
                    </div>
                    <div class="col">
                        <i class="iconfont icon-jiaofu balanced" style="font-size: 25px;color:#f5762d;"></i>
                        <p>
                    <span class="button button-balanced button-small button-clear"
                          style="color:#f5762d;">交付成果</span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="item item-text-wrap" ng-if="service.serviceTime != '' && service.serviceTime != null">
                <h2>服务时间</h2>
                <p>{{service.serviceTime}}</p>
            </div>
            <label class="item item-input item-stacked-label item-text-wrap">
                <span class="input-label">需求概述：</span>
                <textarea placeholder="请输入需求概述" rows="5" ng-model="info.content"></textarea>
            </label>
            <div class="item item-divider">
                剩余服务次数：{{userNum.num}}次
                <span style="float: right">到期时间：{{userNum.endTime | javaDate : 'yyyy-MM-dd'}}</span>
            </div>
            <div class="padding">
                <div class="row">
                    <div class="col">
                        <button class="button button-block button-balanced button-small" ng-click="submit()">
                            确认提交
                        </button>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-25 col-offset-25"></div>
                    <div class="col">
                        <button class="button button-block button-energized button-small" ui-sref="memberCenter.buyProductService">
                            购买服务
                        </button>
                    </div>
                </div>
            </div>
            <div class="padding">
                <span class="item-note assertive">温馨提示：当您的服务数量已使用完毕，请点击去购买或到产品服务中购买服务</span>
            </div>

        </div>

    </ion-content>
</ion-view>

