<ion-view view-title="购买产品服务">
    <ion-content>
        <ion-slide-box >
            <ion-slide>
                <div class="box blue">
                    <img src="../static/img/product.jpg" alt="" style="width: 100%">
                </div>
            </ion-slide>
        </ion-slide-box>
        <div class="list">
            <div class="item item-divider positive">
                咨询类
            </div>
            <div class="item" ng-click="detail.show(1)">
                资讯包
            </div>
            <div class="item" ng-click="detail.show(2)">
                电话咨询
            </div>
            <div class="item" ng-click="detail.show(3)">
                预约会面
            </div>
            <div class="item item-divider energized">
                合同类
            </div>
            <div class="item" ng-click="detail.show(4)">
                合同下载
            </div>
            <div class="item" ng-click="detail.show(5)">
                合同起草
            </div>
            <div class="item" ng-click="detail.show(6)">
                合同审查
            </div>
            <div class="item item-divider balanced">
                非诉类
            </div>
            <div class="item" ng-click="detail.show(7)">
                法律风险体检
            </div>
            <div class="item" ng-click="detail.show(8)">
                律师函
            </div>
            <div class="item" ng-click="detail.show(9)">
                纠纷调解
            </div>
            <div class="item" ng-click="detail.show(10)">
                律师见证
            </div>
            <div class="item" ng-click="detail.show(11)">
                劳资保险
            </div>
            <div class="item" ng-click="detail.show(12)">
                法律讲座
            </div>
            <div class="item item-divider dark-yellow">
                专项类
            </div>
            <div class="item" ng-click="detail.show(13)">
                尽职调查
            </div>
            <div class="item" ng-click="detail.show(14)">
                债务追还
            </div>
            <div class="item" ng-click="detail.show(15)">
                刑事会见
            </div>
        </div>

    </ion-content>
</ion-view>