<ion-view view-title="律师详情">
    <ion-content>
        <div class="banner">
            <img ng-src="{{lawyer.photoUrl}}" alt="" class="user-headportrait"
                 style="height: 150px;width: 100%">
            <h3 class="text-center">{{lawyer.realName}}{{lawyer.type}}</h3>
            <div class="energized" style="top: 9px;position: absolute;right: 12px;">
                <evaluate-star star-num="lawyer.evaluateGrade"></evaluate-star>
            </div>
        </div>
        <div class="list">
            <div class="item">
                <p>执照号：{{lawyer.licenseNo}}</p>

            </div>
            <div class="item">
                <p>擅长领域：{{lawyer.domainNames}}</p>

            </div>
            <div class="buttons row">
                <div class="col">
                    <button style="background-color: #f5762d;" class="button button-block button-positive button-small"
                            ng-click="rewardConsultShow(lawyer.id)">
                        <i class="ion ion-chatbubble-working"></i>
                        打赏咨询
                    </button>
                </div>
                <div class="col">
                    <button style="background-color: #33cd5f;" class="button button-block button-positive button-small"
                            ng-click="phoneConsultShow(lawyer.id)">
                        <i class="ion ion-ios-telephone"></i>
                        电话咨询
                    </button>
                </div>
                <div class="col">
                    <button style="background-color: #f5762d;" class="button button-block button-positive button-small" ng-click="meetShow(lawyer.id)">
                        <i class="ion ion-person-stalker"></i>
                        预约会面
                    </button>
                </div>

            </div>
            <div class="list ">
                <div class="item item-divider">
                    我的简介
                </div>
                <div class="item item-text-wrap">
                    <p>{{lawyer.summary}}</p>
                </div>
                <div class="item item-divider">
                    我的位置
                </div>
                <div class="item item-text-wrap">
                    <p>
                        {{lawyer.province}}-{{lawyer.city}}-{{lawyer.area}}
                    </p>
                </div>
                <div class="item item-divider">
                    过往案例
                    <span style="float:right;" ui-sref="consult.pastCaseList({id:lawyer.id})">
                        更多
                    </span>
                </div>
                <div ng-repeat=" item in caseList ">
                    <a class="item item-text-wrap" ng-click="pastcasemodalShow(item.id)">
                        <p>
                            {{item.title}}
                            <span class="item-note">
                            详细
                        </span>
                        </p>
                    </a>
                </div>
            </div>

        </div>


    </ion-content>
    <style>
        .banner {
            width: 150px;
            margin: auto;
        }
    </style>
</ion-view>