<ion-view view-title="丰信办公-主页">
    <ion-content>
        <div class="fx-offcial-homepage">
            <div class="topTip">老王，欢迎回来</div>
            <div class="contentBox">
                <p class="_title">日常管理</p>
                <ul class="clearFloat clearFloat">
                    <li ng-click="jump('fxOfficial.calendaring')">
                        <p><i class="icon ion-android-calendar"></i></p>日程管理
                    </li>
                    <li ng-click="jump('fxOfficial.meetingSummary')">
                        <p><i class="icon ion-clipboard"></i></p>会议纪要
                    </li>
                    <li ng-click="jump('fxOfficial.companySeal')">
                        <p><i class="icon ion-hammer"></i></p>公章申请
                    </li>
                    <li ng-click="jump('fxOfficial.customer')">
                        <p><i class="icon ion-person-stalker"></i></p>客户管理
                    </li>
                </ul>
            </div>
            <div class="contentBox">
                <p class="_title">档案管理</p>
                <ul class="clearFloat clearFloat">
                    <li ng-click="jump('fxOfficial.calendaring')">
                        <p><i class="icon ion-compose"></i></p>非诉建档
                    </li>
                    <li ng-click="jump('fxOfficial.calendaring')">
                        <p><i class="icon ion-edit"></i></p>非诉审核
                    </li>
                    <li ng-click="jump('fxOfficial.calendaring')">
                        <p><i class="icon ion-clipboard"></i></p>诉讼建档
                    </li>
                    <li ng-click="jump('fxOfficial.calendaring')">
                        <p><i class="icon ion-paintbrush"></i></p>诉讼审核
                    </li>
                    <li ng-click="jump('fxOfficial.calendaring')">
                        <p><i class="icon ion-paper-airplane"></i></p>档案大事记
                    </li>
                </ul>
            </div>
        </div>
    </ion-content>
</ion-view>