<ion-view view-title="会员论坛">
    <ion-content>
        <!-- 列表 -->
        <ul class="vip-bbs-list">
            <li class="_box">
                <div ng-click="jump('vip.bbsList')">
                    <img src="../static/img/becomeMember-jcqy.jpg" alt="" style="width: 100%">
                </div>
               <div class="text-center tag">
                   <a ui-sref="vip.bbsList"> ---- 进入论坛 ---- </a>
               </div>
            </li>
            <li class="_box">
                <div ng-click="jump('vip.bbsList')">
                    <img src="../static/img/becomeMember-jcqy.jpg" alt="" style="width: 100%">
                </div>
               <div class="text-center tag">
                   <a ui-sref="vip.bbsList"> ---- 进入论坛 ---- </a>
               </div>
            </li>
        </ul>
    </ion-content>
</ion-view>