<div class="modal">
    <ion-header-bar align-title="left" class="bar-positive title-color">
        <h1 class="title">发布观点</h1>
        <div class="buttons">
            <button class="button button-energized button-outline" ng-click="reportmodal.hide()">关闭</button>
        </div>
    </ion-header-bar>
    <ion-content>


        <div class="list">
            <div class="item-divider item">
                案例概况
            </div>
            <div class="item item-text-wrap">
                {{repay.questionContent}}
            </div>
            <div class="item item-input">
                <textarea placeholder="请输入你的观点" rows="5" ng-model="repay.content">

                </textarea>
            </div>
            <div class="item item-button-right">
                语音观点
                <div class="buttons">
                    <span>{{tape.second}}'</span>
                    <button class="button button-positive" style="font-size: 12px"
                            ng-touchstart="tape.touchStart($event)" ng-touchend="tape.touchEnd($event)">
                        按住录音
                    </button>
                    <button class="button button-stable " style="font-size: 12px;margin-left: 10px;"
                            ng-click="tape.play($event)">
                        播放
                    </button>
                </div>
            </div>
            <label class="item item-input item-select">
                <div class="input-label">
                    查听价格
                </div>
                <select ng-model="repay.price">
                    <option value="1">1元</option>
                    <option value="2">2元</option>
                    <option value="5">5元</option>
                    <option value="10">10元</option>
                </select>
            </label>
        </div>
        <div class="padding">
            <button class="button button-positive button-dark-yellow button-block" ng-click="repaySubmit()">
                确认提交
            </button>
        </div>
        <div class="padding">
            <span class="item-note assertive">温馨提示：语音录入时间不得低于30秒，不得超过60秒。</span>
        </div>
    </ion-content>
</div>

