<div class="modal">
    <ion-header-bar align-title="left" class="bar-positive title-color">
        <h1 class="title">选择律师</h1>
        <div class="buttons">
            <button class="button button-energized button-outline" ng-click="selectLawyerModel.hide()">关闭</button>
        </div>
    </ion-header-bar>
    <ion-content>
        <ion-refresher pulling-text="下拉刷新..." on-refresh="publish.selectLawyer.doRefresh()">

        </ion-refresher>
        <div class="card" ng-repeat="item in publish.selectLawyer.page.content"
             ng-click="publish.selectLawyer.select(item)">
            <div class="item item-avatar">
                <img ng-src="{{item.photoUrl}}">
                <h2>
                    {{item.realName}}{{item.type}}
                    <div style="float:right;" class="energized">
                        <evaluate-star star-num="item.evaluateGrade"></evaluate-star>
                    </div>
                </h2>
                <p>{{item.province}}-{{item.city}}</p>
                <p>执照号：{{item.licenseNo}}</p>
                <p>擅长领域：{{item.domainNames}}</p>
            </div>
        </div>
        <ion-infinite-scroll ng-if="publish.selectLawyer.page.currPage<publish.selectLawyer.page.pages"
                             on-infinite="publish.selectLawyer.loadMore()"
                             distance="1%">
        </ion-infinite-scroll>
    </ion-content>
</div>