<ion-view view-title="关于我们">
    <ion-content>
        <div class="banner">
            <img src="../static/img/aboutUs.jpg" style="width: 100%;">
        </div>

        <div class="card">
            <!--<div class="item" ng-click="useGuidemodal.show()">-->
                <!--<i class="ion ion-paper-airplane"></i>-->
                <!--平台使用向导-->
            <!--</div>-->

            <div class="item" ng-click="aboutPlatformmodal.show()">
                <i class="ion ion-information-circled"></i>
                关于平台
            </div>
        </div>
    </ion-content>
</ion-view>
