<ion-view view-title="登录">
    <ion-content>
        <div class="list" id="login">
            <label class="item item-input">
                <i class="fa fa-phone"></i>
                <input type="number" placeholder="手机号码" ng-model="$parent.mobile">
            </label>
            <div class="item item-input">
                <div class="col-30">
                    <i class="fa fa-unlock"></i>
                </div>
                <div class="col-30">
                    <input placeholder="验证码" type="text" ng-model="info.code">
                </div>
                <div class="col-40 padding-right">
                    <checkcode></checkcode>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <button class="button  button-block button-positive" ng-click="login()">
                        登录
                    </button>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>

