<ion-view view-title="案件详情">
    <ion-content>
        <div class="card">
            <div class="item item-divider">
                案件信息
                <p style="float: right">
                    {{detail.info.c.province}}-{{detail.info.c.city}}
                </p>
            </div>
            <div class="item ">
                案件类型：{{detail.info.c.domainName}}
            </div>
            <div class="item ">
                委托报价：{{detail.info.c.minAmount}}元-{{detail.info.c.maxAmount}}元
            </div>
            <div class="item item-text-wrap">
                <h3>案件内容：</h3>
                <p>{{detail.info.c.content}}</p>
            </div>
        </div>

        <div class="card">
            <div class="item item-divider">
                个人信息
            </div>
            <div class="item ">
                姓名：{{detail.info.c.name}}
            </div>
            <div class="item ">
                手机号码：{{detail.info.c.mobile}}
            </div>
            <div class="item ">
                身份证号：{{detail.info.c.idCard}}
            </div>
        </div>

        <div class="card">
            <div class="item item-divider">
                律师信息
            </div>
            <div class="item ">
                姓名：{{detail.info.l.realName}}
            </div>
            <div class="item ">
                手机号码：<a href="tel:{{detail.info.l.mobile}}">{{detail.info.l.mobile}}</a>
            </div>
            <div class="item ">
                执照号：{{detail.info.l.licenseNo}}
            </div>
        </div>

        <div class="card">
            <div class="item item-divider">
                案件资料
            </div>
            <a class="item " ng-click="detail.myPic.show()">
                <i class="ion-image ion"></i>
                用户的图片资料
            </a>
            <a class="item " ng-click="detail.lawyerPic.show()">
                <i class="ion-image ion"></i>
                律师的图片资料
            </a>
            <a class="item " ng-click="detail.logs.show()">
                <i class="ion-image ion"></i>
                案件进展
            </a>
        </div>
    </ion-content>
</ion-view>