<ion-view view-title="案件列表">
    <ion-content>
        <ion-refresher pulling-text="下拉刷新..." on-refresh="case.doRefresh()">
        </ion-refresher>
        <div>
            <div class="card" ng-repeat="item in case.json['1']">
                <div class="item">
                    姓名：{{item.name}}
                    <p>电话：{{item.mobile}}</p>
                </div>
                <p class="item">
                    {{item.province}}-{{item.city}}
                    <span style="float:right;">
                        {{item.minAmount}}元-{{item.maxAmount}}元
                    </span>
                </p>
                <div class="item item-divider text-right">
                    <button class="button button-small button-calm" ui-sref="search.info({id:item.id,type:1})">查看详情
                    </button>
                </div>
            </div>
            <div class="card" ng-repeat="item in case.json['2']">
                <div class="item">
                    姓名：{{item.name}}
                    <p>电话：{{item.mobile}}</p>
                </div>
                <p class="item">
                    {{item.province}}-{{item.city}}
                    <span style="float:right;">
                        {{item.minAmount}}元-{{item.maxAmount}}元
                    </span>
                </p>
                <div class="item item-divider text-right">
                    <button class="button button-small button-calm" ui-sref="search.info({id:item.id,type:2})">查看详情
                    </button>
                </div>
            </div>
        </div>

    </ion-content>
</ion-view>
