<ion-view view-title="最新资讯">
    <ion-content>
        <div class="content padding" id="information">
            <ul class="list">
                <li class="item item-thumbnail-right" ng-click="getDetails()" ng-repeat="item in list">
                    <img src="../static/img/becomeMember-qyty.jpg" alt="" style="width: 100%">
                    <h2>{{item.title}}</h2>
                    <p class="bottom">
                        <span>{{item.date}}</span>
                        <span class="col-offset-10"><i class="number">{{item.person}}</i>已浏览</span>
                    </p>
                </li>
            </ul>
        </div>
    </ion-content>
</ion-view>
