<ion-view view-title="添加法律服务">
    <ion-content>
        <ul class="list myCase">
            <li class="card">
                <div class="item item-divider">
                    <span>律师函服务</span>
                    <span class="color-gray">家庭纠纷</span>
                    <span class="float-right">6000元</span>
                </div>
                <div class="item item-text-wrap">
                    ionic 是一个强大的 HTML5 应用程序开发框架(HTML5 Hybrid Mobile App Framework )。 可以帮助您使用 Web 技术，比如 HTML、CSS 和
                </div>
                <div class="item text-right">
                    <a ui-sref="lmyHome.addLawServiceDetails" class="button button-small button-balanced ">查看详情</a>
                    <a ng-click="chooseService()" class="button button-small button-balanced " >选择服务</a>
                </div>
            </li>

            <li class="card">
                <div class="item item-divider">
                    <span>律师函服务</span>
                    <span class="color-gray">家庭纠纷</span>
                    <span class="float-right">6000元</span>
                </div>
                <div class="item item-text-wrap">
                    ionic 是一个强大的 HTML5 应用程序开发框架(HTML5 Hybrid Mobile App Framework )。 可以帮助您使用 Web 技术，比如 HTML、CSS 和
                </div>
                <div class="item text-right">
                    <a ui-sref="lmyHome.addLawServiceDetails" class="button button-small button-balanced " >查看详情</a>
                    <a ng-click="chooseService()" class="button button-small button-balanced " >选择服务</a>
                </div>
            </li>
        </ul>
    </ion-content>
</ion-view>
