<ion-view view-title="我的服务">
    <ion-content>
        <div class="item">
            <a ui-sref="lmyHome.addLawService" class="button button-small button-balanced float-right">添加法律服务</a>
        </div>
        <ul class="list myCase">
            <li class="card">
                <div class="item item-divider">
                    <span>提问咨询</span>
                    <span class="float-right">6000元</span>
                </div>
                <div class="item item-text-wrap">
                    ionic 是一个强大的 HTML5 应用程序开发框架(HTML5 Hybrid Mobile App Framework )。 可以帮助您使用 Web 技术，比如 HTML、CSS 和
                </div>
                <div class="item">
                    <a ui-sref="lmyHome.myServiceDetails" class="button button-small button-balanced float-right " >查看详情</a>
                </div>
            </li>
            <li class="card">
                <div class="item item-divider">
                    <span>电话咨询</span>
                    <span class="float-right">6000元</span>
                </div>
                <div class="item item-text-wrap">
                    ionic 是一个强大的 HTML5 应用程序开发框架(HTML5 Hybrid Mobile App Framework )。 可以帮助您使用 Web 技术，比如 HTML、CSS 和
                </div>
                <div class="item">
                    <button ng-click="getDetails()" class="button button-small button-balanced float-right " >查看详情</button>
                </div>
            </li>
            <li class="card">
                <div class="item item-divider">
                    <span>预约会面</span>
                    <span class="float-right">6000元</span>
                </div>
                <div class="item item-text-wrap">
                    ionic 是一个强大的 HTML5 应用程序开发框架(HTML5 Hybrid Mobile App Framework )。 可以帮助您使用 Web 技术，比如 HTML、CSS 和
                </div>
                <div class="item">
                    <button ng-click="getDetails()" class="button button-small button-balanced float-right " >查看详情</button>
                </div>
            </li>
            <li class="card">
                <div class="item item-divider">
                    <span>企业合同服务</span>
                    <span class="float-right">6000元</span>
                </div>
                <div class="item item-text-wrap">
                    ionic 是一个强大的 HTML5 应用程序开发框架(HTML5 Hybrid Mobile App Framework )。 可以帮助您使用 Web 技术，比如 HTML、CSS 和
                </div>
                <div class="item text-right">
                    <button ng-click="getDetails()" class="button button-small button-balanced float-right ">查看详情</button>
                    <button ng-click="getDetails()" class="button button-small button-balanced float-right " >下架服务</button>
                </div>
            </li>
        </ul>
    </ion-content>
</ion-view>
