<ion-view view-title="登录" hide-back-button="true">
    <ion-content>
        <div class="list">
            <label class="item item-input">
                <span style="color:red;">*&nbsp;&nbsp;&nbsp;&nbsp;</span>
                <input type="text" placeholder="用户名" ng-model="login.info.name">
            </label>
            <label class="item item-input">
                <span style="color:red;">*&nbsp;&nbsp;&nbsp;&nbsp;</span>
                <input type="password" placeholder="密码" ng-model="login.info.password">
            </label>
            <label class="item item-input item-select">
                <div class="input-label">登录类型</div>
                <select ng-model="login.info.type" ng-init="login.info.type='1'">
                    <option value="1">个人会员</option>
                    <option value="2">企业体验会员</option>
                    <option value="3">基础企业会员</option>
                    <option value="4">顾问会员</option>
                    <option value="5">VIP顾问会员</option>
                    <option value="6">机构服务会员</option>
                    <option value="10">律师会员</option>
                </select>
            </label>
            <div class="row">
                <div class="col">
                    <button class="button button-block button-balanced" ng-click="login.submit()">
                        登录
                    </button>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
