<div class="modal">
    <ion-header-bar align-title="left" class="bar-positive title-color">
        <h1 class="title">添加进展</h1>
        <div class="buttons">
            <button class="button button-energized button-outline" ng-click="addLogModal.hide()">关闭</button>
        </div>
    </ion-header-bar>
    <ion-content>
        <div class="list">
            <label class="item item-input item-stacked-label">
                <span class="input-label">内容</span>
                <textarea type="text" placeholder="请输入案件进展内容" rows="5" ng-model="detail.logs.info.content"></textarea>
            </label>
        </div>
    </ion-content>
    <ion-footer-bar align-title="center" class="bar-balanced">
        <div class="title" ng-click="detail.logs.add()">
            确认提交
        </div>
    </ion-footer-bar>
</div>