<div class="modal">
    <ion-header-bar align-title="left" class="bar-positive title-color">
        <h1 class="title">{{imgmodalTitle}}</h1>
        <div class="buttons">
            <button class="button button-energized button-outline" ng-click="imgmodal.hide()">关闭</button>
        </div>
    </ion-header-bar>
    <ion-content>
        <div class="img-content" ng-if="imgmodalType == 1">
            <div class="img-box" ng-repeat="item in detail.userPic.list">
                <img ng-src="{{item.pictureUrl}}" alt="">
                <h5>{{item.name}}</h5>
                <p>{{item.time | javaDate : 'yyyy-MM-dd'}}</p>
            </div>
        </div>

        <div class="img-content" ng-if="imgmodalType == 2">
            <div class="img-box" ng-repeat="item in detail.lawyerPic.list">
                <img ng-src="{{item.pictureUrl}}" alt="">
                <h5>{{item.name}}</h5>
                <p>{{item.time | javaDate : 'yyyy-MM-dd'}}</p>
                <i class="ion ion-close-circled" ng-click="detail.lawyerPic.del(item.id)"></i>
            </div>
            <div class="img-box" ng-click="detail.lawyerPic.add.show()">
                <img src="../static/img/add.jpg"/>
            </div>
        </div>

    </ion-content>
</div>
<style>
    .img-content {
        width: 100%;
        height: auto;
    }

    .img-content .img-box {
        width: 50%;
        padding: 5px;
        position: relative;
        float: left;
    }

    .img-content .img-box img {
        width: 100%;
        height: 120px;

    }

    .img-content .img-box i {
        position: absolute;
        top: 10px;
        right: 10px;
    }
</style>