<div class="modal">
    <ion-header-bar align-title="left" class="bar-positive title-color">
        <h1 class="title">机构服务列表</h1>
        <div class="buttons">
            <button class="button button-energized button-outline" ng-click="companySelectListmodal.hide()">关闭</button>
        </div>
    </ion-header-bar>
    <ion-content>
        <ion-refresher pulling-text="下拉刷新..." on-refresh="publish.business.doRefresh()" />
            <ion-list>
                <ion-radio ng-repeat="item in publish.business.page.content"
                           ng-click="publish.business.select(item)">
                    <p>公司名：{{item.company_name}}</p>
                    <p>提供服务：{{item.business}}</p>
                </ion-radio>
            </ion-list>
            <ion-infinite-scroll ng-if="publish.business.page.number < publish.business.page.totalPages - 1"
                                 on-infinite="publish.business.loadMore()" distance="1%">
            </ion-infinite-scroll>
    </ion-content>
</div>