<ion-view view-title="丰信办公-日程管理">
    <ion-content>
        <ul class="calendaringBox list text-align">
            <li class="item">
                <p>2017年11月6日----- 2017年11月10日</p>
                <span ng-click="jump('fxOfficial.calendaringInfo')">查看详情</span>
            </li>
            <li class="item">
                <p>2017年11月6日----- 2017年11月10日</p>
                <span ng-click="jump('fxOfficial.calendaringInfo')">查看详情</span>
            </li>
        </ul>
    </ion-content>
</ion-view>