<ion-view view-title="丰信办公-公章申请">
    <ion-content class="companySeal">
        <ul class="list _list">
            <li class="_add clearFloat">
                <span ng-click="jump('fxOfficial.addCompanySeal')" class="float-right">公章申请</span>
            </li>
            <li class="item">
                <div class="float-right">
                    <span ng-click="jump('fxOfficial.companySealInfo')">详情</span>
                </div>
                <div>
                    <p>我需要用来办理一个入职协议</p>
                    <p>申请日期：2017-01-01</p>
                    <p><b>待处理</b></p>
                </div>
            </li>
            <li class="item">
                <div class="float-right">
                    <span ng-click="jump('fxOfficial.companySealInfo')">详情</span>
                </div>
                <div>
                    <p>我需要用来办理一个入职协议</p>
                    <p>申请日期：2017-01-01</p>
                    <p><b>待处理</b></p>
                </div>
            </li>
        </ul>
    </ion-content>
</ion-view>