<ion-view view-title="丰信办公-客户管理">
    <ion-content class="customer">
        <div class="bar bar-header item-input-inset">
            <label class="item-input-wrapper">
                <i class="icon ion-ios-search placeholder-icon"></i>
                <input type="search" placeholder="搜索">
            </label>
            <button class="button icon ion-search"></button>
        </div>
        <div class="button-bar">
            <a class="button btn-active" >全部</a>
            <a class="button ">诉讼客户</a>
            <a class="button ">法律顾问</a>
            <a class="button ">其他客户</a>
        </div>
        <ul class="list _list">
            <li class="item">
                <div class="float-right">
                    <span>拨打电话</span>
                    <span ng-click="jump('fxOfficial.customerInfo')">回访记录</span>
                </div>
                <div>
                    <p><b>杜涛涛</b> 13012341234</p>
                    <p>职业：海贼王</p>
                    <p>完成业务：合同纠纷</p>
                </div>
            </li>
            <li class="item">
                <div class="float-right">
                    <span>拨打电话</span>
                    <span ng-click="jump('fxOfficial.customerInfo')">回访记录</span>
                </div>
                <div>
                    <p><b>杜涛涛</b> 13012341234</p>
                    <p>职业：海贼王</p>
                    <p>完成业务：合同纠纷</p>
                </div>
            </li>
        </ul>
    </ion-content>
</ion-view>