<ion-view view-title="成为会员">
    <ion-content>
        <ion-slide-box>
            <ion-slide ng-click="slideBoxClick(0)">
                <div class="box blue">
                    <img src="../static/img/becomeMember.jpg" alt="" style="width: 100%">
                </div>
            </ion-slide>
            <ion-slide ng-click="slideBoxClick(1)">
                <div class="box blue">
                    <img src="../static/img/becomeMember-qyty.jpg" alt="" style="width: 100%">
                </div>
            </ion-slide>
            <ion-slide ng-click="slideBoxClick(2)">
                <div class="box blue">
                    <img src="../static/img/becomeMember-jcqy.jpg" alt="" style="width: 100%">
                </div>
            </ion-slide>
            <ion-slide ng-click="slideBoxClick(4)">
                <div class="box blue">
                    <img src="../static/img/becomeMember-gw.jpg" alt="" style="width: 100%">
                </div>
            </ion-slide>
            <ion-slide ng-click="slideBoxClick(3)">
                <div class="box blue">
                    <img src="../static/img/becomeMember-vip.jpg" alt="" style="width: 100%">
                </div>
            </ion-slide>
            <ion-slide ng-click="slideBoxClick(5)">
                <div class="box blue">
                    <img src="../static/img/becomeMember-jgfu.jpg" alt="" style="width: 100%">
                </div>
            </ion-slide>
        </ion-slide-box>
        <div class="row text-center">
            <div class="col ">
                <i class="ion ion-person-stalker dark-yellow" style="font-size: 25px"></i>
                <p><span class="button dark-yellow button-small button-clear">选择类型</span></p>
            </div>
            <div class="col-5" style="    padding-top: 12px;">
                <i class="ion ion-chevron-right balanced " style="font-size: 25px; line-height: 30px"></i>
            </div>
            <div class="col">
                <i class="ion ion-card dark-yellow" style="font-size: 25px"></i>
                <p><span class="button dark-yellow button-small button-clear">填写资料</span></p>
            </div>
            <div class="col-5" style="    padding-top: 12px;">
                <i class="ion ion-chevron-right balanced" style="font-size: 25px"></i>
            </div>
            <div class="col">
                <i class="ion ion-chatbubbles dark-yellow" style="font-size: 25px"></i>
                <p><span class="button dark-yellow button-small button-clear">支付会费</span></p>
            </div>
            <div class="col-5" style="    padding-top: 12px;">
                <i class="ion ion-chevron-right balanced" style="font-size: 25px"></i>
            </div>
            <div class="col">
                <i class="ion ion-ios-infinite dark-yellow" style="font-size: 25px"></i>
                <p><span class="button dark-yellow button-small button-clear">选择律师</span></p>
            </div>
        </div>

        <!--<div class=" menu-list">
            <div class="row">
                <div class="col">
                    <p class="menu-box text-center" ui-sref="personalRegister">
                        <i class="icon ion-ios-download"></i>
                        个人会员
                    </p>
                </div>
                <div class="col ">
                    <p class="menu-box text-center" ui-sref="experienceRegister">
                        <i class="icon ion-ios-compose"></i>
                        企业体验会员
                    </p>
                </div>
                <div class="col ">
                    <p class="menu-box text-center" ui-sref="basicsRegister">
                        <i class="icon ion-ios-checkmark-outline"></i>
                        基础企业会员
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col ">
                    <p class="menu-box text-center" ui-sref="vipRegister">
                        <i class="icon ion-chatbubbles"></i>
                        VIP顾问会员
                    </p>
                </div>
                <div class="col ">
                    <p class="menu-box text-center" ui-sref="adviserRegister">
                        <i class="icon ion-clipboard"></i>
                        顾问会员
                    </p>
                </div>
                <div class="col ">
                    <p class="menu-box text-center" ui-sref="mechanismRegister">
                        <i class="icon ion-eye"></i>
                        机构服务会员
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-33 ">
                    <p class="menu-box text-center" ui-sref="lawyerRegister">
                        <i class="icon ion-chatbubbles"></i>
                        律师会员
                    </p>
                </div>
            </div>


        </div>-->
        <div class="padding">
            <div class="list list-inset " style="overflow: visible">

                <div class="item" ui-sref="personalRegister">
                    <span class="menu-box">个人会员</span>
                    <span class="assertive" style="float: right;margin-right: 5%;">{{prices['1']}}元</span>
                </div>

                <div class="item" ui-sref="experienceRegister">
                    <span class="menu-box ">企业体验会员</span>
                    <span class="assertive" style="float: right;margin-right: 5%;">{{prices['2']}}元</span>
                </div>
                <div class="item" ui-sref="basicsRegister">
                    <span class="menu-box ">基础企业会员</span>
                    <span class="assertive" style="float: right;margin-right: 5%;">{{prices['3']}}元</span>
                </div>
                <div class="item" ui-sref="adviserRegister">
                    <span class="menu-box ">顾问会员</span>
                    <span class="assertive" style="float: right;margin-right: 5%;">{{prices['4']}}元</span>
                </div>
                <div class="item" ui-sref="vipRegister">
                    <span class="menu-box ">VIP顾问会员</span>
                    <span class="assertive" style="float: right;margin-right: 5%;">{{prices['5']}}元</span>
                </div>
                <div class="item" ui-sref="mechanismRegister">
                    <span class="menu-box ">机构服务会员</span>
                    <span class="assertive" style="float: right;margin-right: 5%;">{{prices['6']}}元</span>
                </div>
                <div class="item" ui-sref="lawyerRegister">
                    <span class="menu-box ">律师会员</span>
                    <span class="assertive" style="float: right;margin-right: 5%;">免费</span>
                </div>

            </div>
        </div>
    </ion-content>
    <style>
        .menu-list .icon {
            display: block;
            font-size: 2rem;
            margin-bottom: 0.6rem;
        }

        .menu-list {
            margin-top: 1rem;
            color: rgba(0, 0, 0, 0.61);
        }
    </style>
</ion-view>

