<ion-view view-title="我的订单">
    <ion-content>
        <ion-refresher pulling-text="下拉刷新..." on-refresh="order.doRefresh()"></ion-refresher>
        <div class="button-bar">
            <a class="button" ng-click="order.selectTab(0)" style="color:#ED1A24;">全部</a>
            <a class="button" ng-click="order.selectTab(1)" style="color:#F8931F;">待付款</a>
            <a class="button" ng-click="order.selectTab(2)" style="color:#F8931F;">待处理</a>
            <a class="button" ng-click="order.selectTab(3)" style="color:#8CC540;">已完成</a>
        </div>
        <div>
            <div class="card" ng-repeat="item in order.page.list">
                <div class="item item-divider">
                    {{dict.orderStatus[item.status]}}
                    <span style="float:right;">{{item.amount}}元</span>
                </div>
                <a class="item item-avatar" href="#">
                    <img ng-src="{{item.photoUrl}}" ng-if="item.lawyerId > 0">
                    <h2 ng-if="item.lawyerId > 0">{{item.realName}}{{item.lawyerType}}</h2>
                    <p style="line-height: 30px">订单类型：
                        <button class="button-outline button-positive button button-small" ng-if="item.type >= 10">
                            产品服务
                        </button>
                        <button class="button-outline button-positive button button-small">
                            {{dict.orderType[item.type]}}
                        </button>
                    </p>
                    <p>订单编号：{{item.orderNo}}</p>
                    <hr class="stable">
                    <p>时间：{{item.time | javaDate:'yyyy-MM-dd HH:mm:ss'}}</p>
                </a>
                <div class="item item-divider text-right">
                    <button class="button button-small button-calm" ng-click="detail.openDetail(item.id,item.type)">
                        查看详情
                    </button>
                    <button class="button button-small button-positive" ng-click="order.wxPay.pay(item.id)"
                            ng-if="item.status == 0">立即付款
                    </button>
                    <button class="button button-small button-assertive" ng-click="order.cancelOrder(item.id)"
                            ng-if="item.status == 0">取消订单
                    </button>
                </div>
            </div>
        </div>
        <ion-infinite-scroll ng-if="order.page.currPage<order.page.pages" on-infinite="order.loadMore()"
                             distance="1%">
        </ion-infinite-scroll>
    </ion-content>

</ion-view>
