<ion-view view-title="需求对接详情">
    <ion-content>
        <div class="list list-inset">

            <div class="item">
                <h2>企业信息</h2>
            </div>
            <div class="item">
                <p>企业名称：{{user.companyName}}</p>
            </div>
            <div class="item">
                <p>对接人电话：{{user.directMobile}}</p>
            </div>
            <div class="item">
                <p>企业地区：{{user.province}} - {{user.city}} - {{user.area}} - {{user.detailAddress}}</p>
            </div>

        </div>
        <div class="padding">
            <h3>{{need.title}}</h3>
            <p>{{need.content}}</p>
        </div>
        <div class="list ">
            <div class="item">
                <p>联系人：{{need.contactName}}</p>
            </div>
            <div class="item">
                <p>对接人电话：{{need.contactMobile}}</p>
            </div>
            <div class="item">
                <p>地区：{{need.province}} - {{need.city}} - {{need.area}}</p>
            </div>
            <div class="item">
                <p>需求终止时间：{{need.endTime | javaDate : 'yyyy-MM-dd'}}</p>
            </div>
            <div ng-if="need.status == 1">
                <li class="item item-toggle">
                    是否成交
                    <label class="toggle toggle-balanced" ng-init="isPay = false">
                        <input type="checkbox" ng-model="isPay">
                        <div class="track">
                            <div class="handle"></div>
                        </div>
                    </label>
                </li>
                <label class="item item-input" ng-if="isPay">
                    <input type="text" placeholder="成交金额" ng-model="confirm.info.amount">
                </label>
                <label class="item item-input" ng-if="isPay">
                    <input type="text" placeholder="支持平台服务费" ng-model="confirm.info.serviceFee">
                </label>
                <label class="item item-input " ng-if="!isPay">
                    <textarea type="text" rows="5" placeholder="未成交原因" ng-model="confirm.info.reason"></textarea>
                </label>
            </div>
            <div ng-if="need.status == 2">
                <div class="item">
                    <p>是否成交：{{need.makeJson.type == 1 ? '是':'否'}}</p>
                    <div ng-if="need.makeJson.type == 1">
                        <p>成交金额：{{need.makeJson.amount}}</p>
                        <p>平台服务费：{{need.makeJson.serviceFee}}</p>
                    </div>
                    <div ng-if="need.makeJson.type == 2">
                        <p>未成交原因：{{need.makeJson.reason}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="padding" ng-if="need.status == 1">
            <button class="button button-block button-dark-yellow " ng-click="confirm.submit()">确定</button>
        </div>

    </ion-content>
</ion-view>