<ion-view view-title="我对接的需求">
    <ion-content>
        <ion-refresher pulling-text="下拉刷新..." on-refresh="need.doRefresh()">
            <ul class="list">
                <li class="item" ui-sref="memberCenter.dockingDetails({id:item.id})" ng-repeat="item in need.page.content">
                    {{item.title}}
                    <span style="float: right">
                    {{item.province}}-{{item.city}}
                </span>
                </li>
            </ul>
            <ion-infinite-scroll ng-if="need.page.number < need.page.totalPages - 1"
                                 on-infinite="selectLawyer.loadMore()" distance="1%">
            </ion-infinite-scroll>
    </ion-content>
</ion-view>