<ion-view view-title="发布需求">
    <ion-content>
        <div class="list">
            <label class="item item-input">
                <span class="input-label">标题</span>
                <input type="text" ng-model="publish.info.title">
            </label>

            <label class="item item-input item-stacked-label">
                <span class="input-label">需求概述</span>
                <textarea rows="5" placeholder="请输入需求概述" ng-model="publish.info.content"></textarea>

            </label>
            <label class="item item-input">
                <span class="input-label">联系人</span>
                <input type="text" ng-model="publish.info.contactName">
            </label>
            <label class="item item-input">
                <span class="input-label">对接电话</span>
                <input type="text" ng-model="publish.info.contactMobile">
            </label>
            <ionic-city-picker options='vm.CityPickData'></ionic-city-picker>
            <label class="item item-input">
                <span class="input-label">需求终止时间</span>
                <input type="date" format-date ng-model="publish.info.endTime">
            </label>
            <div class="list card">
                <div class="item item-divider item-button-right item-balanced">
                    选择机构
                </div>
                <div class="item ">
                    公司名：{{publish.business.info.company_name}}
                </div>
                <div class="item ">
                    提供服务：{{publish.business.info.business}}
                </div>
                <div class="item ">
                    <button class="button button-positive button-block button-small"
                            ng-click="publish.business.show()">
                        机构服务列表
                    </button>
                </div>
            </div>
            <div class="padding">
                <button class="button button-block button-dark-yellow " ng-click="publish.submit()">
                    发起对接
                </button>
            </div>

        </div>
    </ion-content>
</ion-view>