<div class="modal">
    <ion-header-bar align-title="left" class="bar-positive title-color">
        <h1 class="title">购买服务</h1>
        <div class="buttons">
            <button class="button button-energized button-outline" ng-click="buyservicemodal.hide()">关闭</button>
        </div>
    </ion-header-bar>
    <ion-content>
        <div class="card">
            <div class="item item-divider">
                {{product.product.name}}
                <small style="float:right;">
                    <span style="text-decoration:line-through;color: #b4b4b4">原价:{{product.product.marketPrice}}元</span>
                    <span class="assertive">丰信价：{{product.product.memberPrice}}元</span>
                </small>
            </div>
            <label class="item item-input" ng-if="product.id != 2">
                <textarea rows="5" placeholder="在此填写需求描述" ng-model="product.buy.content"></textarea>
            </label>
            <div class="item padding" ng-if="product.id == 2">
                <p style="color:red;">客服邮箱:{{_so.serviceEmail}}</p>
                <p class="assertive" style="white-space: initial">温馨提示：购买后发送邮件给官方客服，附件需审查合同，标题带上律师名称和执照号，方便我们及时为您处理，谢谢合作</p>
            </div>
            <div class="item">
                选择律师
                <button class="button button-positive button-small" style="float: right"
                        ng-click="product.buy.selectLawyer.show()">律师列表
                </button>
            </div>
            <a class="item item-avatar" ng-if="product.buy.selectLawyer.lawyer.id > 0">
                <img ng-src="{{product.buy.selectLawyer.lawyer.photoUrl}}">
                <h2>
                    {{product.buy.selectLawyer.lawyer.realName}}{{product.buy.selectLawyer.lawyer.type}}
                    <div style="float:right;" class="energized">
                        <evaluate-star star-num="product.buy.selectLawyer.lawyer.evaluateGrade"></evaluate-star>
                    </div>
                </h2>
                <p>{{product.buy.selectLawyer.lawyer.province}}-{{product.buy.selectLawyer.lawyer.city}}</p>
                <p>执照号：{{product.buy.selectLawyer.lawyer.licenseNo}}</p>
            </a>
            <div class="item item-divider" style="line-height: 30px;">
                <strong class="assertive">
                </strong>
                <button style="float:right;" class="button button-assertive button-small "
                        ng-click="product.buy.paySubmit()">
                    提交支付
                </button>
            </div>
        </div>

    </ion-content>
</div>