<ion-view view-title="会员中心"  hide-back-button="true">
    <ion-content>
        <div class="banner" ng-click="slideBoxClick()">
            <img ng-if="user.type == 1" src="../static/img/becomeMember.jpg" alt="" style="width: 100%">
            <img ng-if="user.type == 2" src="../static/img/becomeMember-qyty.jpg" alt="" style="width: 100%">
            <img ng-if="user.type == 3" src="../static/img/becomeMember-jcqy.jpg" alt="" style="width: 100%">
            <img ng-if="user.type == 4" src="../static/img/becomeMember-gw.jpg" alt="" style="width: 100%">
            <img ng-if="user.type == 5" src="../static/img/becomeMember-vip.jpg" alt="" style="width: 100%">
            <img ng-if="user.type == 6" src="../static/img/becomeMember-jgfu.jpg" alt="" style="width: 100%">
        </div>
        <div class="item item-divider  dark-yellow">
            会员类别：{{user.typeStr}}
        </div>
        <div class=" menu-list">

            <div class="row">
                <div class="col">
                    <p class="menu-box text-center positive" ui-sref="memberCenter.myInfo">
                        <i class="iconfont icon-wodeziliao"></i>
                        我的资料
                    </p>
                </div>
                <div class="col ">
                    <p class="menu-box text-center positive" ui-sref="memberCenter.allService">
                        <i class="iconfont icon-fuwu"></i>
                        我的服务
                    </p>
                </div>
                <div class="col ">
                    <p class="menu-box text-center positive" ui-sref="share.daily">
                        <i class="iconfont icon-fenxiang"></i>
                        精选分享
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col ">
                    <p class="menu-box text-center dark-yellow" ui-sref="selectUtil.menu">
                        <i class="iconfont icon-search"></i>
                        查询助手
                    </p>
                </div>
                <div class="col ">
                    <p class="menu-box text-center dark-yellow" ui-sref="memberCenter.caseList">
                        <i class="iconfont icon-liebiao"></i>
                        案件列表
                    </p>
                </div>
                <div class="col ">
                    <p class="menu-box text-center dark-yellow" ui-sref="memberCenter.myOrders">
                        <i class="iconfont icon-iconfuzhi"></i>
                        我的订单
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col ">
                    <p class="menu-box text-center balanced" ui-sref="memberCenter.heardIssue">
                        <i class="iconfont icon-tingguo"></i>
                        我听过的问题
                    </p>
                </div>
                <div class="col ">
                    <p class="menu-box text-center balanced" ui-sref="memberCenter.myLawyer">
                        <i class="iconfont icon-lvshi"></i>
                        我的个人律师
                    </p>
                </div>
                <div class="col ">
                    <p class="menu-box text-center balanced" ui-sref="memberCenter.buyProductService">
                        <i class="iconfont icon-chanpin"></i>
                        购买产品服务
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-33">
                    <p class="menu-box text-center balanced" ui-sref="memberCenter.demandRelease">
                        <i class="iconfont icon-iconfontliebiao"></i>
                        其他需求列表
                    </p>
                </div>
                <div class="col-33">
                    <p class="menu-box text-center balanced" ui-sref="memberCenter.setting">
                        <i class="iconfont icon-setting1"></i>
                        设置
                    </p>
                </div>
            </div>
        </div>
    </ion-content>
    <style>
        .menu-list .icon {
            display: block;
            font-size: 2rem;
            margin-bottom: 0.6rem;
        }

        .menu-list {
            margin-top: 1rem;
            color: rgba(0, 0, 0, 0.61);
        }
    </style>
</ion-view>

