<ion-view view-title="过往案例">
    <ion-content>
        <ion-refresher pulling-text="下拉刷新..." on-refresh="pc.doRefresh()">
        </ion-refresher>
        <ul class="list">
            <a class="item  item-icon-right" ng-click="pc.detail.show(item)" ng-repeat="item in pc.page.list">
                <p>{{item.title}}</p>
                <i class="icon ion-ios-arrow-forward " style="color: #b4b4b4"></i>
            </a>
        </ul>
        <ion-infinite-scroll ng-if="pc.page.currPage<pc.page.pages" on-infinite="pc.loadMore()"
                             distance="1%">
        </ion-infinite-scroll>
    </ion-content>
    <ion-footer-bar align-title="center" class="bar-balanced">
        <div class="title" ng-click="pc.publish.show()">
            发布案例
        </div>
    </ion-footer-bar>
</ion-view>



