<div class="modal">
    <ion-header-bar align-title="left" class="bar-positive title-color">
        <h1 class="title">添加图片</h1>
        <div class="buttons">
            <button class="button button-energized button-outline" ng-click="addImgModel.hide()">关闭</button>
        </div>
    </ion-header-bar>
    <ion-content>
        <div class="list">
            <label class="item item-input">
                <span class="input-label">名称：</span>
                <input type="text" ng-model="case.detail.lawyerPic.add.info.name">
            </label>
            <label class="item">
                <span class="input-label">图片：</span>
                <img ng-src="{{case.detail.lawyerPic.add.info.pictureUrl}}" style="width: 100px;height: 100px;display: block;margin: auto;">
                <div class="uploadpicbox">
                    <button class="button-block button button-balanced button-small">上传照片</button>
                    <input type="file" onchange='angular.element(this).scope().fileChanged(this)'>
                </div>
            </label>
            <div class="padding">
                <button class="button  button-dark-yellow button-block"
                        ng-click="case.detail.lawyerPic.add.add()">
                    确认提交
                </button>
            </div>
        </div>
    </ion-content>
</div>