<div class="modal">
    <ion-header-bar align-title="left" class="bar-positive title-color">
        <h1 class="title">案件进展</h1>
        <div class="buttons">
            <button class="button button-energized button-outline" ng-click="caseLogModal.hide()">关闭</button>
        </div>
    </ion-header-bar>
    <ion-content>
        <div class="padding">
            <div class="row">
                <div class="col">时间</div>
                <div class="col">内容</div>
            </div>
            <div class="row" ng-repeat="item in case.detail.logs.list">
                <div class="col">{{item.time | javaDate:'yyyy-MM-dd HH:mm:ss'}}</div>
                <div class="col">{{item.content}}</div>
            </div>
        </div>
    </ion-content>
    <ion-footer-bar align-title="center" class="bar-balanced">
        <div class="title" ng-click="case.detail.logs.addShow()">
            添加进展
        </div>
    </ion-footer-bar>
</div>