<div class="modal">
    <ion-header-bar align-title="left" class="bar-positive title-color">

        <h1 class="title">问题详情</h1>
        <div class="buttons">
            <button class="button button-energized button-outline" ng-click="modal.hide()">关闭问题</button>
        </div>
    </ion-header-bar>
    <ion-content>
        <div class="card">
            <div class="item item-divider" style="line-height: 30px">
                <span>问题描述</span>
            </div>
            <div class="item item-text-wrap">
                {{detail.question.content}}
            </div>
            <div class="item item-divider" style="line-height: 30px">
                <span style="float: right;">￥{{detail.payRecord.amount}}</span>
                <button class="button button-positive button-small button-outline" ng-if="detail.question.type == 1">日常法典</button>
                <button class="button button-positive button-small button-outline" ng-if="detail.question.type == 2">法聚观点</button>
            </div>
        </div>
        <div class="card">
            <div class="item item-divider" style="line-height: 30px">
                <span>律师回答</span>
                <small style="float:right;">{{detail.repay.listenNum}}人听过</small>
            </div>
            <a class="item item-avatar" href="#">
                <img ng-src="{{detail.lawyer.photoUrl}}">
                <h2>
                    {{detail.lawyer.realName}}{{detail.lawyer.type}}
                    <evaluate-star star-num="detail.lawyer.evaluateGrade"></evaluate-star>
                </h2>
                <p>{{detail.lawyer.province}} - {{detail.lawyer.city}}</p>
                <p>执照号：{{detail.lawyer.licenseNo}}</p>
            </a>
            <div class="item item-divider">
                语音答案
            </div>
            <a class="item ">
                <audio controls="controls" ng-src="{{sce(detail.repay.repayVoice)}}" ></audio>
            </a>
            <div class="item item-divider">
                文字答案
            </div>
            <a class="item item-text-wrap">
                <p>
                    {{detail.repay.repayContent}}
                </p>
            </a>


        </div>
    </ion-content>

</div>
