/*最新资讯*/


        /*vip*/
        .margin-0{
            margin: 0px !important;
        }
        .margin-bottom-0{
            margin-bottom: 0px !important;
        }
        .padding-0{
            padding: 0;
        }
        .fl{
            float: left;
        }
        .fr{
            float: right;
        }

        .zz{
            overflow: hidden;
            text-overflow: ellipsis;
            /*display: -webkit-box;*/
            /*-webkit-line-clamp:1;*/
            /*-webkit-box-orient:vertical;*/
            white-space: normal;
        }

        /* 企业互助*/
        .classification_title{
            border-bottom: 1px dotted #999;
            margin-bottom: 5px;
        }
        .vip-classification-slider{
            height: 160px;
        }
