<ion-view view-title="预约会面">
    <ion-content>

        <div class="row text-center">
            <div class="col">
                <i class="ion ion-compose balanced" style="font-size: 25px;color:#f5762d;"></i>
                <p><span class="button button-balanced button-small button-clear" style="color:#f5762d;">填写资料</span></p>
            </div>
            <div class="col-5" style="    padding-top: 12px;">
                <i class="ion ion-chevron-right balanced" style="font-size: 25px; line-height: 30px"></i>
            </div>
            <div class="col">
                <i class="ion ion-card balanced" style="font-size: 25px;color:#f5762d;"></i>
                <p><span class="button button-balanced button-small button-clear" style="color:#f5762d;">支付金额</span></p>
            </div>
            <div class="col-5" style="    padding-top: 12px;">
                <i class="ion ion-chevron-right balanced" style="font-size: 25px"></i>
            </div>
            <div class="col">
                <i class="ion ion-chatbubbles balanced" style="font-size: 25px;color:#f5762d;"></i>
                <p><span class="button button-balanced button-small button-clear" style="color:#f5762d;">律师接单回电确认</span></p>
            </div>
            <div class="col-5" style="    padding-top: 12px;">
                <i class="ion ion-chevron-right balanced" style="font-size: 25px"></i>
            </div>
            <div class="col">
                <i class="iconfont icon-lvshi balanced" style="font-size: 25px;color:#f5762d;"></i>
                <p><span class="button button-balanced button-small button-clear" style="color:#f5762d;">律师会面</span></p>
            </div>
        </div>

        <div class="list">
            <label class="item item-input">
                <span class="input-label">预留电话：</span>
                <input type="number" ng-model="meet.contactMobile">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">预约内容：</span>
                <textarea rows="5" placeholder="请详细描述您要预约的事务内容" ng-model="meet.content"></textarea>
            </label>
            <label class="item item-input">
                <span class="input-label">预约时间：</span>
                <input type="date" ng-model="meet.meetTime">
            </label>
            <label class="item item-input">
                <span class="input-label">预约地点：</span>
                <input type="text">
            </label>
            <ionic-city-picker options='vm.meetCityData'></ionic-city-picker>
            <label class="item item-input">
                <input type="text" placeholder="详细地址" ng-model="meet.detailAddress">
            </label>
            <div class="item">
                支付金额：300元/次
            </div>

            <div class="row">
                <div class="col text-center">
                    <button class="button btn-small" ng-click="meetSubmit()">
                        确认提交
                    </button>
                </div>
            </div>

        </div>

    </ion-content>
</ion-view>
