<div class="modal">
    <ion-header-bar align-title="left" class="bar-positive title-color">
        <h1 class="title">用户评价</h1>
        <div class="buttons">
            <button class="button button-energized button-outline" ng-click="postratingmodal.hide()">关闭</button>
        </div>
    </ion-header-bar>
    <ion-content>


        <div class="banner" style="position: relative;">
            <div style="width: 6em;margin: 0px auto;">
                <img ng-src="{{evaluateList.lawyer.photoUrl}}" alt="" class="user-headportrait"
                     style="height: 6em;width: 6em">
            </div>
            <h3 class="text-center">{{evaluateList.lawyer.realName}}{{evaluateList.lawyer.type}}</h3>

            <div class="energized" style="top: 9px;position: absolute;right: -120px;">
                <evaluate-star star-num="evaluateList.lawyer.evaluateGrade"></evaluate-star>
            </div>

        </div>
        <div class="card">
            <div class="item">
                <p>执照号：{{evaluateList.lawyer.licenseNo}}</p>
            </div>
            <div class="item">

                <p>擅长领域：{{evaluateList.lawyer.domainNames}}</p>
            </div>
        </div>
        <div class="list">
            <label class="item item-input item-select">
                <div class="input-label">
                    请为本次服务打分
                </div>
                <select ng-model="evaluate.grade">
                    <option value="1">一分</option>
                    <option value="2">二分</option>
                    <option value="3">三分</option>
                    <option value="4">四分</option>
                    <option value="5">五分</option>
                </select>
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">评价内容</span>
                <textarea type="text" placeholder="请输入您想评论的内容" rows="5" ng-model="evaluate.content"></textarea>
            </label>
        </div>
        <div class="padding">
            <button class="button-dark-yellow button button-block" ng-click="evaluateSubmit()">
                确认提交
            </button>
            <p>评论需要后台审核后才能显示</p>
        </div>
    </ion-content>
</div>

