<ion-view view-title="我的订单">
    <ion-content>
        <ion-refresher pulling-text="下拉刷新..." on-refresh="order.doRefresh()">
        </ion-refresher>
        <div class="button-bar">
            <a class="button" ng-click="order.selectTab(0)">全部</a>
            <a class="button" ng-click="order.selectTab(1)">待处理</a>
            <a class="button" ng-click="order.selectTab(2)">已完成</a>
        </div>
        <div>
            <div class="card" ng-repeat="item in order.page.list">
                <div class="item item-divider">
                    {{dict.orderStatus[item.status]}}
                    <span style="float:right;">{{item.amount}}元</span>
                </div>
                <a class="item item-avatar" href="#">
                    <img ng-src="{{item.photo_url}}">
                    <h2>{{item.nick_name}}</h2>
                    <p>订单编号：{{item.order_no}}</p>
                    <p>时间：{{item.time |javaDate:'yyyy-MM-dd HH:mm:ss'}}</p>
                    <hr class="stable">
                    <p style="line-height: 30px">订单类型：
                        <button class="button-outline button-positive button button-small">
                            {{dict.orderType[item.type]}}
                        </button>
                    </p>
                </a>
                <div class="item item-divider text-right">
                    <button class="button button-small button-calm" ng-click="detail.show(item.id,item.type)">查看详情
                    </button>
                </div>
            </div>
        </div>
        <ion-infinite-scroll ng-if="order.page.currPage<order.page.pages" on-infinite="order.loadMore()"
                             distance="1%">
        </ion-infinite-scroll>
    </ion-content>

</ion-view>
