<div class="modal">
    <ion-header-bar align-title="left" class="bar-positive title-color">
        <h1 class="title">查看答案</h1>
        <div class="buttons">
            <button class="button button-energized button-outline" ng-click="checkanswermodal.hide()">关闭</button>
        </div>
    </ion-header-bar>
    <ion-content>
        <div class="card">
            <a class="item item-avatar" href="#">
                <img ng-src="{{answer.user.photoUrl}}">
                <h2>{{answer.user.nickName}}</h2>
                <p class="assertive">{{answer.question.amount}}元</p>
            </a>
            <div class="item item-text-wrap">
                {{answer.question.content}}
            </div>
            <div class="item item-divider">
                <button class="button button-outline button-positive button-small">
                    {{answer.question.domainName}}
                </button>
            </div>
        </div>
        <div class="list">
            <div class="item-divider item">
                律师回答
                <p style="float:right;">
                    {{answer.repay.listen_num}}人听过
                </p>
            </div>
            <div class="item item-avatar">
                <img ng-src="{{answer.repay.photo_url}}">
                <h2>
                    {{answer.repay.real_name}}{{answer.repay.type}}
                    <div style="float:right;" class="energized">
                        <evaluate-star star-num="answer.repay.evaluate_grade"></evaluate-star>
                    </div>
                </h2>
                <p>{{answer.repay.province}}-{{answer.repay.city}}</p>
                <p>执照号：{{answer.repay.license_no}}</p>
                <button class=" button button-small button-dark-yellow button-block"
                        ng-click="repay.wxPay.pay(answer.repay.id)">
                    {{answer.repay.price}}元偷偷看答案
                </button>
            </div>
        </div>


    </ion-content>
</div>

