<div class="modal">
    <ion-header-bar align-title="left" class="bar-positive title-color">
        <h1 class="title">订单详情</h1>
        <div class="buttons">
            <button class="button button-energized button-outline" ng-click="rewardDetials.hide()">关闭</button>
        </div>
    </ion-header-bar>
    <ion-content>
        <div class="card">
            <div class="item item-divider">
                订单信息
            </div>
            <div class="item ">
                订单类型：{{detail.data.order.service.name}}
            </div>
            <div class="item ">
                订单编号：{{detail.data.order.orderNo}}
            </div>
            <div class="item ">
                <p style="line-height: 30px">
                    {{detail.data.order.time | javaDate:'yyyy-MM-dd HH:mm:ss'}}
                    <span style="float: right;">
                    <button class="button button-small button-outline button-positive">
                        {{detail.data.order.statusStr}}
                    </button>
                </span>
                </p>
            </div>
        </div>

        <div class="card">
            <div class="item item-divider">
                咨询信息
            </div>
            <a class="item item-avatar" href="#">
                <img ng-src="{{detail.data.user.photoUrl}}">
                <h2>{{detail.data.user.companyName}}</h2>
            </a>
            <div class="item item-text-wrap">
                <h3>咨询内容：</h3>
                <p>{{detail.data.question.content}}</p>
            </div>
        </div>

        <div class="card">
            <div ng-if="detail.data.order.status == 2" ng-repeat="item in detail.data.repays">
                <div class="item item-divider">
                    回复信息
                </div>
                <div class="item item-text-wrap">
                    <h3>文字回复：</h3>
                    <p>{{item.repay_content}}</p>
                    <h3>语音回复：</h3>
                    <p>
                        <audio controls="controls" ng-src="{{sce(item.repay_voice)}}" ></audio>
                    </p>
                </div>
            </div>
            <div ng-if="detail.data.order.status == 1">
                <div class="item item-divider">
                    回复信息
                </div>
                <div class="item item-button-right">
                    语音回复
                    <div class="buttons">
                        <span>{{tape.second}}'</span>
                        <button class="button button-positive" style="font-size: 12px"
                                ng-touchstart="tape.touchStart($event)" ng-touchend="tape.touchEnd($event)">
                            按住录音
                        </button>
                        <button class="button button-stable " style="font-size: 12px;margin-left: 10px;"
                                ng-click="tape.play($event)">
                            播放
                        </button>
                    </div>
                </div>

                <label class="item item-input">
                <textarea rows="5" placeholder="请输入文字回复" ng-model="reward.info.repayContent"
                          ng-init="reward.info.repayContent = ''"></textarea>
                </label>
                <div class="padding">
                    <button class="button button-block button-positive" ng-click="reward.repay(detail.data.order.id)">
                        点击提交
                    </button>
                </div>
                <div class="padding">
                    <span class="item-note assertive">温馨提示：语音录入时间不得低于30秒，不得超过60秒。</span>
                </div>

            </div>
        </div>

    </ion-content>
</div>