<div class="modal">
    <ion-header-bar align-title="left" class="bar-positive title-color">
        <h1 class="title">产品服务详情</h1>
        <div class="buttons">
            <button class="button button-energized button-outline" ng-click="detailsmodal.hide()">关闭</button>
        </div>
    </ion-header-bar>
    <ion-content>
        <ion-slide-box>
            <ion-slide>
                <div class="box blue">
                    <img src="../static/img/servicePack.jpg" alt="" style="width: 100%">
                </div>
            </ion-slide>
        </ion-slide-box>
        <div class="list item-text-wrap">
            <div class="item item-divider">
                产品简介
            </div>
            <div class="item">
                <p>{{detail.info.service.summary}}</p>
            </div>
            <div class="item">
                <div class="card ">
                    <div class="item">
                        <p ng-if="detail.info.service.id != 7">服务数量：{{detail.info.packs[0].num}}次</p>
                        <p ng-if="detail.info.service.id == 7">服务数量：{{detail.info.packs[0].num}}项</p>
                    </div>
                    <div class="item">
                        <p>丰信价：{{detail.info.packs[0].marketPrice}}元</p>
                    </div>
                    <div class="item">
                        <p>会员价：{{detail.info.packs[0].price}}元</p>
                    </div>
                    <div class="item">
                        <p>使用期限：{{detail.info.packs[0].endTime}}个月内</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="padding">
            <button class="button button-block button-dark-yellow " ng-click="detail.nowPay(detail.info.packs[0].id)">
                立即支付
            </button>
        </div>

    </ion-content>
</div>