<div class="modal">
    <ion-header-bar align-title="left" class="bar-positive title-color">
        <h1 class="title">发布代办</h1>
        <div class="buttons">
            <button class="button button-energized button-outline" ng-click="entrustPublishModal.hide()">关闭</button>
        </div>
    </ion-header-bar>
    <ion-content>
        <div class="card">
            <label class="item item-input">
                <span class="input-label">事项标题</span>
                <input type="text" ng-model="publish.info.title">
            </label>
            <ionic-city-picker options='vm.CityPickData'></ionic-city-picker>
            <label class="item item-input">
                <span class="input-label">代办金额</span>
                <input type="number" ng-model="publish.info.amount" />
            </label>
            <label class="item item-input">
                <span class="input-label">终止时间</span>
                <input type="date" ng-model="publish.info.endTime" format-date>
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">事项概述</span>
                <textarea type="text" placeholder="请详细描述代办事项" ng-model="publish.info.content"></textarea>
            </label>
        </div>

        <div class="padding">
            <button class="button button-dark-yellow button-block" ng-click="publish.submit()">
                确认提交
            </button>
        </div>

    </ion-content>
</div>